@charset "UTF-8";
body {
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0;
  text-align: center;
  color: #54777D;
  background-color: #FCF9EA;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header {
  background-color: rgba(242, 236, 216, 0.9);
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.top {
  padding: 0.625em 6em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .top {
    padding: 1em 1.75em;
  }
}
.top__logo {
  width: 60px;
  aspect-ratio: 92/82;
}
@media screen and (max-width: 680px) {
  .top__logo {
    width: 50px;
  }
}
.top__img {
  display: block;
}
.top__btn {
  display: none;
}
@media screen and (max-width: 680px) {
  .top__btn {
    display: block;
    /* ボタンの配置位置  */
    position: fixed;
    top: 44px;
    right: 16px;
    /* ボタンの大きさ  */
    width: 40px;
    height: 20px;
    /* 最前面に */
    z-index: 10;
    /* わかりやすいように */
  }
}
.top__btn-line {
  display: block;
  position: relative;
  top: -50%;
  /* バーガー線の位置基準として設定 */
  width: 100%;
  /* 線の長さと高さ */
  height: 4px;
  border-radius: 4px;
  background-color: #564824;
  transition: 0.2s;
  transform: translateY(-4px);
}
.top__btn-line.open {
  content: "";
  transition: 0.2s;
  transform: rotate(40deg);
}
.top__btn-line.open::after {
  transition: 0.2s;
  transform: rotate(-80deg);
}
.top__btn-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #564824;
  transition: 0.2s;
  transform: translateY(12px);
}
.top__ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
@media screen and (max-width: 680px) {
  .top__ul {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    /* メニューを縦に */
    display: flex;
    flex-direction: column;
    color: #efefef;
    background-color: rgba(167, 148, 58, 0.7);
    transition: 0.3s;
    opacity: 0;
  }
}
.top__ul.open {
  opacity: 1;
}
.top__li {
  font-size: 1.5rem;
  margin: 0 1.0416666667em;
}
.top__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.top__Calendar {
  background-color: #F4CC5C;
  border-radius: 30px;
  padding: 0.125em 1.125em;
  text-align: center;
}
.top__Calendar-img {
  width: 0.875em;
  height: 1em;
  margin-right: 0.375em;
}
@media screen and (max-width: 680px) {
  .top__sns {
    display: none;
  }
}
.top__sns-img {
  width: 2em;
  height: 2em;
}
.top__sns-ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.top__sns-li {
  margin: 0 1.5625em;
}
.top p {
  font-weight: 300;
}

.firstview {
  background: url("../images/firstview.png") center center/cover;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 680px) {
  .firstview {
    height: 60vh;
  }
}

.big__bg {
  background: url("../images/illust/top/pc_png/room01.png") center center/cover;
  background-color: #FCF9EA;
  width: 100%;
  aspect-ratio: 1.851/1;
  margin-top: 12.8125em;
  position: relative;
}
@media screen and (max-width: 680px) {
  .big__bg {
    background: none;
    margin-top: 4em;
  }
}
.big__img {
  width: 15.625em;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
@media screen and (max-width: 680px) {
  .big__img {
    position: static;
    transform: translateY(0);
    width: 42.75%;
  }
}
.big__rental {
  background: url("../images/illust/top/pc_png/rental_line.png") top left/cover;
  position: absolute;
  width: 16.546%;
  aspect-ratio: 0.717/1;
  left: 5.409%;
  bottom: 26.8%;
  transition: 0.3s all;
  z-index: 10;
}
.big__rental:hover {
  background: url("../images/illust/top/pc_png/rental_color.png") top left/cover;
}
.big__rental:hover + .big__rental-bubble {
  opacity: 1;
}
.big__rental-bubble {
  position: absolute;
  width: 5.407%;
  aspect-ratio: 0.381/1;
  left: 19.252%;
  top: 11.553%;
  transition: 0.6s all;
  z-index: 11;
  opacity: 0;
}
.big__lab {
  background: url("../images/illust/top/pc_png/lab_line.png") center center/cover;
  position: absolute;
  width: 14.045%;
  aspect-ratio: 0.658/1;
  left: 21.302%;
  bottom: 16.383%;
}
.big__bookshelf {
  background: url("../images/illust/top/pc_png/bookshelf_line.png") top left/cover;
  position: absolute;
  width: 8.718%;
  aspect-ratio: 1.516/1;
  left: 40%;
  top: 36.581%;
  transition: 0.3s all;
  z-index: 10;
}
.big__bookshelf:hover {
  background: url("../images/illust/top/pc_png/bookshelf_color.png") top left/cover;
}
.big__bookshelf:hover + .big__bookshelf-bubble {
  opacity: 1;
}
.big__bookshelf-bubble {
  position: absolute;
  width: 5.072%;
  aspect-ratio: 0.334/1;
  left: 36.354%;
  top: 11.866%;
  transition: 0.6s all;
  z-index: 11;
  opacity: 0;
}
.big__borrow {
  background: url("../images/illust/top/pc_png/borrow_line.png") top left/cover;
  position: absolute;
  width: 6.176%;
  aspect-ratio: 0.41/1;
  right: 39.463%;
  top: 39.47%;
  z-index: 10;
}
.big__live {
  background: url("../images/illust/top/pc_png/live_line.png") top left/cover;
  position: absolute;
  width: 13.988%;
  aspect-ratio: 0.946/1;
  left: 39.6875%;
  top: 48.788%;
  z-index: 10;
}
.big__relax {
  background: url("../images/illust/top/pc_png/relax_line.png") top left/cover;
  position: absolute;
  width: 9.777%;
  aspect-ratio: 0.625/1;
  right: 25.625%;
  bottom: 19.9%;
  transition: 0.3s all;
  z-index: 10;
}
.big__relax:hover {
  background: url("../images/illust/top/pc_png/relax_color.png") top left/cover;
}
.big__relax:hover + .big__relax-bubble {
  opacity: 1;
}
.big__relax-bubble {
  position: absolute;
  width: 5.407%;
  aspect-ratio: 0.341/1;
  right: 24.479%;
  bottom: 42.5%;
  transition: 0.6s all;
  z-index: 11;
  opacity: 0;
}
.big__select {
  display: none;
}
@media screen and (max-width: 680px) {
  .big__select {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.big__select-menu {
  width: 25px;
  margin: 10px 18px 0;
}
.big__select-menu-center {
  width: 25px;
  margin: 24px 18px 0;
}
.big__images {
  display: none;
}
@media screen and (max-width: 680px) {
  .big__images {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    margin-top: 36px;
  }
}
.big__images-photo {
  width: 61%;
  margin: 0 12px;
}
.big__images-photo-l {
  width: 61%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-80%, -50%);
}
.big__images-photo-r {
  width: 61%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(80%, -50%);
}
.big__images-arrowL {
  width: 6.5%;
  margin: 0 12px 21px;
}
.big__images-arrowR {
  width: 6.5%;
  margin: 0 12px 21px;
}

.about {
  background-color: #F2ECD8;
  padding: 12em 0;
}
.about__subtitle {
  font-size: 2rem;
  margin-bottom: 0.75em;
}
.about__title {
  font-size: 2.5rem;
  margin-bottom: 2.4em;
  font-weight: normal;
}
.about__title::before {
  margin: 0 auto 1.2em;
  display: block;
  content: "";
  width: 1.4em;
  padding-bottom: 0.05em;
  background-image: linear-gradient(to right, #54777D, #54777D 4px, transparent 4px, transparent 8px);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 8px 2px;
}
.about__concept {
  background: url("../images/about_bg.png") center center/cover;
  padding: 12em 0;
}
.about__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .about__inner {
    width: 86.473%;
  }
}
.about__link {
  display: inline-block;
  padding: 1.1rem 1.6rem;
  border: 1px solid;
  border-radius: 3.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  background-color: #fff;
}

.card__title {
  margin-bottom: 1.3333333333em;
  font-size: 1.5rem;
  font-weight: normal;
}
.card__title::after {
  margin: 0.6666666667em auto 0;
  display: block;
  content: "";
  width: 2.25em;
  padding-bottom: 0.05em;
  background-image: linear-gradient(to right, #54777D, #54777D 4px, transparent 4px, transparent 8px);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 8px 2px;
}
.card__text {
  margin-top: 3em;
  text-align: left;
}

.member {
  margin-bottom: 6.4em;
  background-color: #DBD0C0;
  padding: 6em;
}
.member__title {
  margin-bottom: 1.6em;
  font-size: 2.5rem;
  font-weight: normal;
}
.member__image {
  width: 44.64%;
}
.member__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.member__block {
  width: 44.455%;
  position: relative;
  text-align: left;
}
.member__text {
  margin-bottom: 2.2em;
  font-size: 1.25rem;
}
.member__list {
  padding-left: 1.25em;
}
.member__position {
  position: absolute;
  width: 37.422%;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}

.qa {
  padding: 12em 0;
}
.qa__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .qa__inner {
    width: 86.473%;
  }
}
.qa__title {
  font-size: 2em;
  border-bottom: 1px dashed #000;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 1.5em;
  padding-bottom: 0.75em;
}
.qa__subtitle {
  font-weight: 500;
  margin-bottom: 4.375em;
}
.qa__q {
  margin-bottom: 2em;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.qa__a {
  margin-bottom: 2em;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.qa__link {
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 4em;
  padding: 1.1em 1.6em;
  border: 1px solid;
  border-radius: 3.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  background-color: #fff;
}

.q__image {
  width: 7.849%;
}
.q__text {
  margin-left: 2.6em;
  width: 88.148%;
  padding: 1.6em;
  font-size: 1.25rem;
  background-color: #D7E9F7;
  border-radius: 0.2em;
  text-align: left;
  position: relative;
}
.q__text::before {
  content: "";
  width: 4.2em;
  height: 1.4em;
  border-top: 0.7em transparent solid;
  border-right: 2.1em transparent solid;
  border-bottom: 0.7em #D7E9F7 solid;
  border-left: 2.1em transparent solid;
  position: absolute;
  bottom: 0.8em;
  left: 0;
  transform: translateX(-50%);
}

.a__image {
  width: 7.849%;
}
.a__text {
  margin-right: 2.6em;
  width: 88.148%;
  padding: 1.6em;
  font-size: 1.25rem;
  background-color: #F2ECD8;
  border-radius: 0.2em;
  text-align: left;
  position: relative;
}
.a__text::after {
  content: "";
  width: 4.2em;
  height: 1.4em;
  border-top: 0.7em transparent solid;
  border-right: 2.1em transparent solid;
  border-bottom: 0.7em #F2ECD8 solid;
  border-left: 2.1em transparent solid;
  position: absolute;
  bottom: 0.8em;
  right: 0;
  transform: translateX(50%);
}

.access {
  padding: 12em 0;
  background: url("../images/access_bg.png") no-repeat center center/cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #FCF9EA;
}
.access__subtitle {
  font-size: 2rem;
  margin-bottom: 0.75em;
}
.access__title {
  font-size: 2.5rem;
  margin-bottom: 2.4em;
  font-weight: normal;
}
.access__title::before {
  margin: 0 auto 1.2em;
  display: block;
  content: "";
  width: 1.4em;
  padding-bottom: 0.05em;
  background-image: linear-gradient(to right, #FCF9EA, #FCF9EA 4px, transparent 4px, transparent 8px);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 8px 2px;
}
.access::before {
  content: "";
  background: inherit;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
.access__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .access__inner {
    width: 86.473%;
  }
}
.access__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.access__block {
  width: 47.645%;
  text-align: left;
}
.access__address {
  padding-bottom: 2em;
  border-bottom: #FCF9EA 1px solid;
}
.access__address-title {
  font-size: 1.25rem;
}
.access__transport {
  padding: 2em 0;
  border-bottom: #FCF9EA 1px solid;
}
.access__transport-title {
  font-size: 1.25rem;
}
.access__parking {
  padding-top: 2em;
}
.access__parking-title {
  font-size: 1.25rem;
}
.access__parking-link {
  text-decoration: underline;
}
.access__map {
  width: 47.331%;
  aspect-ratio: 1/1;
}

.contact {
  background-color: #F2ECD8;
  padding: 12em 0;
}
.contact__subtitle {
  font-size: 2rem;
  margin-bottom: 0.75em;
}
.contact__title {
  font-size: 2.5rem;
  margin-bottom: 2.4em;
  font-weight: normal;
}
.contact__title::before {
  margin: 0 auto 1.2em;
  display: block;
  content: "";
  width: 1.4em;
  padding-bottom: 0.05em;
  background-image: linear-gradient(to right, #54777D, #54777D 4px, transparent 4px, transparent 8px);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 8px 2px;
}
.contact__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .contact__inner {
    width: 86.473%;
  }
}
.contact__text {
  margin-bottom: 4em;
}
.contact__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 4.25em;
}
.contact__label {
  width: 17%;
  text-align: right;
  font-size: 1.25rem;
}
.contact__input {
  padding: 1.5em 2em;
  width: 80%;
  background-color: #FCF9EA;
  height: 4em;
  font-size: 1rem;
}
.contact__textarea {
  padding: 1.5em 2em;
  width: 80%;
  background-color: #FCF9EA;
  height: 14.375em;
  font-size: 1rem;
}
.contact__button {
  display: inline-block;
  font-size: 1.25rem;
  padding: 1.1em 1.6em;
  border: 1px solid;
  border-radius: 3.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  background-color: #fff;
}

.slideshow__image {
  margin-bottom: 4em;
  width: 100%;
  aspect-ratio: 384/85;
}
.slideshow__text {
  margin-bottom: 6em;
  font-size: 2rem;
}

.news {
  background-color: #FCF9EA;
}
.news__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .news__inner {
    width: 86.473%;
  }
}
.news__subtitle {
  font-size: 2rem;
  margin-bottom: 0.75em;
}
.news__title {
  font-size: 2.5rem;
  margin-bottom: 2.4em;
  font-weight: normal;
}
.news__title::before {
  margin: 0 auto 1.2em;
  display: block;
  content: "";
  width: 1.4em;
  padding-bottom: 0.05em;
  background-image: linear-gradient(to right, #54777D, #54777D 4px, transparent 4px, transparent 8px);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 8px 2px;
}
.news__text-block {
  text-align: center;
}
.news__text {
  display: inline-block;
  font-size: 16px;
  font-weight: light;
  text-align: left;
  margin-bottom: 20px;
}
.news__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.news__card {
  width: 30%;
  margin-top: 45px;
}
.news__card-text {
  margin-top: 30px;
}
.news__button {
  display: inline-block;
  font-size: 1.25rem;
  padding: 1.1em 1.6em;
  border: 1px solid;
  border-radius: 3.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  background-color: #fff;
  margin: 60px 0 190px;
}

footer {
  background-color: #DBD0C0;
  padding: 95px 0 60px;
}

.foot__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .foot__inner {
    width: 86.473%;
  }
}
.foot__logo {
  width: 120px;
  height: 110px;
}
.foot__nav {
  margin: 0 auto;
  margin-top: 65px;
  width: 60%;
  border-top: 1px dashed #54777D;
  border-bottom: 1px dashed #54777D;
}
.foot__ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px 0;
}
.foot__li {
  margin: 0 25px;
}
.foot__sns-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 50px 0 65px;
}
.foot__sns-li {
  margin: 0 15px;
}
.foot__sns-img {
  width: 40px;
  height: 40px;
}

.firstview-about {
  background: url("../images/firstview.png") center center/cover;
  height: 60vh;
  width: 100%;
  position: relative;
}
.firstview-about__title {
  color: #FCF9EA;
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  bottom: 30%;
  right: 0;
  left: 0;
  width: 20%;
  height: 20%;
  margin: auto;
}

.contact-qa {
  background-color: #F2ECD8;
  padding: 12em 0;
}
.contact-qa__subtitle {
  font-size: 2rem;
  margin-bottom: 0.75em;
}
.contact-qa__title {
  font-size: 2.5rem;
  margin-bottom: 2.4em;
  font-weight: normal;
}
.contact-qa__title::before {
  margin: 0 auto 1.2em;
  display: block;
  content: "";
  width: 1.4em;
  padding-bottom: 0.05em;
  background-image: linear-gradient(to right, #54777D, #54777D 4px, transparent 4px, transparent 8px);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 8px 2px;
}
.contact-qa__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .contact-qa__inner {
    width: 86.473%;
  }
}
.contact-qa__text {
  margin-bottom: 4em;
}
.contact-qa__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 4.25em;
}
.contact-qa__label {
  width: 17%;
  text-align: right;
  font-size: 1.25rem;
}
.contact-qa__input {
  padding: 1.5em 2em;
  width: 80%;
  background-color: #FCF9EA;
  height: 4em;
  font-size: 1rem;
}
.contact-qa__textarea {
  padding: 1.5em 2em;
  width: 80%;
  background-color: #FCF9EA;
  height: 14.375em;
  font-size: 1rem;
}
.contact-qa__button {
  display: inline-block;
  font-size: 1.25rem;
  padding: 1.1em 1.6em;
  border: 1px solid;
  border-radius: 3.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  background-color: #fff;
}

.introduction {
  padding: 12.8125em 0 12em;
}
.introduction__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .introduction__inner {
    width: 86.473%;
  }
}
.introduction__title {
  font-size: 2.5rem;
  margin-bottom: 1.25em;
  padding-bottom: 0.625em;
  border-bottom: 1px dashed #707070;
}
.introduction__text {
  text-align: left;
  letter-spacing: 0.02em;
  line-height: 2.25;
}
.introduction__text2 {
  margin-top: 3.125em;
  text-align: right;
  letter-spacing: 0.2em;
  line-height: 2.25;
}

.explanation {
  background-color: #F2ECD8;
  padding: 12em 0;
}
.explanation__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .explanation__inner {
    width: 86.473%;
  }
}
.explanation__title {
  margin-bottom: 4em;
}
.explanation__logo {
  width: 25em;
  height: 25em;
}
.explanation__text {
  margin: 4.0625em 0 6.6875em;
  line-height: 3.125;
}
.explanation__card {
  background-color: #FCF9EA;
  padding: 5%;
}
.explanation__card-flex {
  display: flex;
  align-items: center;
  margin-bottom: 5.9375em;
}
.explanation__card-group {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}
.explanation__card-group:last-child {
  margin-bottom: 0;
}
.explanation__card-img {
  width: 7.5em;
  height: 7.5em;
  margin-right: 3em;
}
.explanation__card-img1 {
  width: 20em;
  height: 11.5625em;
  margin-right: 6.25em;
}
.explanation__card-text-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.explanation__card-h4 {
  line-height: 2.5;
}
.explanation__card-text {
  margin-bottom: 2.5em;
  text-align: left;
  line-height: 2.25;
}
.explanation__card-text:last-child {
  margin-bottom: 0;
  letter-spacing: 0.02em;
}

.people {
  padding: 12em 0;
}
.people__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .people__inner {
    width: 86.473%;
  }
}
.people__title {
  margin-bottom: 4em;
}
.people__text-group {
  margin-bottom: 6em;
}
.people__text {
  text-align: left;
  letter-spacing: 0.02em;
  line-height: 1.75;
  margin-bottom: 2.5em;
}
.people__text:last-child {
  margin-bottom: 0;
}
.people__card-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}
.people__card-img {
  width: 6.25em;
  height: 6.5625em;
  position: absolute;
  top: 80px;
  left: -5%;
}
.people__card-img2 {
  width: 6.25em;
  height: 6.5625em;
  position: absolute;
  top: 80px;
  left: 30%;
}
.people__card-img3 {
  width: 6.25em;
  height: 6.5625em;
  position: absolute;
  top: 80px;
  left: 65%;
}
.people__card {
  width: 30%;
}
.people__self {
  display: flex;
  flex-direction: column;
  width: auto;
  border: 4px solid #D7E9F7;
  border-radius: 10px;
  height: 10.0625em;
  padding: 5%;
  margin-bottom: 2.96875em;
}
.people__card-name {
  font-size: 1.25rem;
  margin-top: 1em;
}
.people__card-text-group {
  background-color: #F2ECD8;
  border-radius: 5px;
  padding: 10% 5%;
}
.people__card-text {
  text-align: left;
  letter-spacing: 0.02em;
  line-height: 2.25;
  margin-bottom: 2.5em;
}
.people__card-text:last-child {
  margin-bottom: 0;
}

.story {
  background-color: #F2ECD8;
  padding: 12em 0 19.1875em;
}
.story__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .story__inner {
    width: 86.473%;
  }
}
.story__text-group {
  text-align: center;
  margin: 4em 0;
}
.story__text {
  display: inline-block;
  text-align: left;
  margin-bottom: 2.5em;
}
.story__text:last-child {
  margin-bottom: 0;
}
.story__card-img {
  width: 18.75em;
  height: 17.875em;
}
.story__card {
  background-color: #FCF9EA;
  padding: 5% 10%;
  margin-bottom: 4em;
}
.story__card:last-child {
  margin-bottom: 0;
}
.story__card-title {
  font-size: 1.5rem;
  line-height: 1.167;
}
.story__card-subtitle {
  margin: 2em 0 4em;
}
.story__card-flex {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
}
.story__card-flex2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5.8125em;
}
.story__card-text {
  letter-spacing: 0.02em;
  line-height: 2.25;
  margin-bottom: 2.5em;
}
.story__card-text:last-child {
  margin-bottom: 0;
}
.story__foot {
  margin-top: 14.375em;
  position: relative;
}
.story__foot-text {
  margin-bottom: 2.5em;
}
.story__foot-text:last-child {
  margin-bottom: 0;
}
.story__foot-img {
  width: 6.0625em;
  height: 12.0625em;
  position: absolute;
  top: 10px;
  right: 0;
  left: 75%;
  bottom: 0;
}

.jump {
  padding: 12em 0;
}
.jump__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .jump__inner {
    width: 86.473%;
  }
}
.jump__flex {
  display: flex;
  justify-content: space-around;
}
.jump__img {
  width: 6.25em;
  height: 10.25em;
  margin-bottom: 2.0625em;
}
.jump__group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.jump__link {
  display: inline-block;
  font-size: 1.25rem;
  padding: 1.1em 1.6em;
  border: 1px solid;
  border-radius: 3.7em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
}

/* book */
.nothing__inner {
  max-width: 80em;
  width: 66.667%;
  margin: auto;
}
@media screen and (max-width: 680px) {
  .nothing__inner {
    width: 86.473%;
  }
}
.nothing__flex {
  display: flex;
}
.nothing__img {
  width: 36em;
  height: 24.375em;
}
.nothing__text-group {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */