@charset "utf-8";

$main-color: #FCF9EA;
$accent-color: #D7E9F7;
$bg-color: #F2ECD8;
$bg-color2: #DBD0C0;
$font-color: #54777D;

@mixin sp {
    @media screen and(max-width: 680px) {
        @content;
    }
}

@mixin inner {
    max-width: (1280/16)+em;
    width: 66.667%;
    margin: auto;

    @include sp {
        width: 86.473%;
    }
}

@mixin title ($c: $font-color) {
    &__subtitle {
        font-size: (32/16)+rem;
        margin-bottom: (24/32)+em;

        @include sp {
            font-size: 1rem;
            margin-bottom: (14/16)+em;
        }
    }

    &__title {
        font-size: (40/16)+rem;
        margin-bottom: (96/40)+em;
        font-weight: normal;

        @include sp {
            font-size: (20/16)+rem;
            margin-bottom: (36/20)+em;
        }

        &::before {
            margin: 0 auto (48/40)+em;
            display: block;
            content: "";
            width: (56/40)+em;
            padding-bottom: (2/40)+em;
            background-image: linear-gradient(to right, $c, $c 4px, transparent 4px, transparent 8px);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 8px 2px;

            @include sp {
                margin-bottom: (24/20)+em;
                width: (28/20)+em;
            }
        }
    }
}

body {
    font-size: 1rem;
    line-height: 1.6875;
    letter-spacing: 0;
    text-align: center;
    color: $font-color;
    background-color: $main-color;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    width: fit-content;
    height: fit-content;
}

//header

header {
    background-color: rgba(242, 236, 216, 0.9);
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.top {
    padding: (10/16)+em (96/16)+em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    @include sp {
        padding: 1em (28/16)+em;
    }

    &__logo {
        width: 60px;
        aspect-ratio: 92/82;

        @include sp {
            width: 50px;
        }
    }

    &__img {
        display: block;
    }

    &__btn {
        display: none;

        @include sp {
            display: block;
            /* ボタンの配置位置  */
            position: fixed;
            top: 44px;
            right: 16px;
            /* ボタンの大きさ  */
            width: 40px;
            height: 20px;
            /* 最前面に */
            z-index: 10;
            /* わかりやすいように */
        }

        &-line {
            display: block;
            position: relative;
            top: -50%;
            /* バーガー線の位置基準として設定 */
            width: 100%;
            /* 線の長さと高さ */
            height: 4px;
            border-radius: 4px;
            background-color: #564824;
            transition: .2s;
            transform: translateY(-4px);

            &.open {
                content: "";
                transition: .2s;
                transform: rotate(40deg);
            }

            &.open::after {
                transition: .2s;
                transform: rotate(-80deg);
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background-color: #564824;
                transition: .2s;
                transform: translateY(12px);
            }
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;

        @include sp {
            flex-direction: column;
        }
    }

    &__li {
        font-size: (24/16)+rem;
        margin: 0 (25/24)+em;

        @include sp {
            margin: 0 0 (36/24)+em;
            padding-bottom: (16/24)+em;
            width: 69.323vw;
            border-bottom: #707070 1px dashed;
            color: $font-color;
            text-align: left;
        }
    }

    &__flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        @include sp {
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            margin-left: auto;
            /* メニューを縦に */
            flex-direction: column;
            color: #efefef;
            background-color: #EAE2CD;
            transition: .3s;
            opacity: 0;
        }

        &.open {
            opacity: 1;
        }
    }

    &__Calendar {
        background-color: #F4CC5C;
        border-radius: 30px;
        padding: (2/16)+em (18/16)+em;
        text-align: center;
    }

    &__Calendar-img {
        width: (14/16)+em;
        height: (16/16)+em;
        margin-right: (6/16)+em;
    }

    &__sns {

        @include sp {
            margin-top: (18/16)+em;
        }

        &-img {
            width: (32/16)+em;
            aspect-ratio: 1/1;

            @include sp {
                width: (50/16)+em;
            }
        }

        &-ul {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            list-style: none;
        }

        &-li {
            margin: 0 (25/16)+em;
        }
    }

    p {
        font-weight: 300;
    }
}

.firstview {
    background: url("../images/big_bg.png") center center /cover;
    height: 100vh;
    width: 100%;

    @include sp {
        height: 60vh;
    }
}

.big {

    margin-bottom: (120/16)+em;

    @include sp {
        margin-bottom: (64/16)+em;
    }

    &__bg {
        background: url("../images/illust/top/pc_png/room01.png") center center /cover;
        background-color: $main-color;
        width: 100%;
        aspect-ratio: 1.851/1;
        margin-top: (205/16)+em;
        position: relative;

        @include sp {
            background: none;
            margin-top: (64/16)+em;
        }
    }

    &__pc {
        @include sp {
            display: none;
        }
    }

    &__img {
        width: (250/16)+em;
        aspect-ratio: 1/1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;

        @include sp {
            position: static;
            transform: translateY(0);
            width: 42.75%;
        }
    }

    &__rental {
        background: url("../images/illust/top/pc_png/rental_line.png") top left/ cover;
        position: absolute;
        width: 16.546%;
        aspect-ratio: .717/1;
        left: 5.409%;
        bottom: 26.8%;
        transition: .3s all;
        z-index: 10;

        &:hover {
            background: url("../images/illust/top/pc_png/rental_color.png") top left/ cover;
        }

        &:hover+.big__rental-bubble {
            opacity: 1;
        }

        &-bubble {
            position: absolute;
            width: 5.407%;
            aspect-ratio: .381/1;
            left: 19.252%;
            top: 11.553%;
            transition: .6s all;
            z-index: 11;
            opacity: 0;
        }
    }

    &__lab {
        background: url("../images/illust/top/pc_png/lab_line.png") center center/ cover;
        position: absolute;
        width: 14.045%;
        aspect-ratio: .658/1;
        left: 21.302%;
        bottom: 16.383%;
    }

    &__bookshelf {
        background: url("../images/illust/top/pc_png/bookshelf_line.png") top left/ cover;
        position: absolute;
        width: 8.718%;
        aspect-ratio: 1.516/1;
        left: 40%;
        top: 36.581%;
        transition: .3s all;
        z-index: 10;

        &:hover {
            background: url("../images/illust/top/pc_png/bookshelf_color.png") top left/ cover;
        }

        &:hover+.big__bookshelf-bubble {
            opacity: 1;
        }

        &-bubble {
            position: absolute;
            width: 5.072%;
            aspect-ratio: .334/1;
            left: 36.354%;
            top: 11.866%;
            transition: .6s all;
            z-index: 11;
            opacity: 0;
        }
    }

    &__borrow {
        background: url("../images/illust/top/pc_png/borrow_line.png") top left/ cover;
        position: absolute;
        width: 6.176%;
        aspect-ratio: .41/1;
        right: 39.463%;
        top: 39.47%;
        z-index: 10;
    }

    &__live {
        background: url("../images/illust/top/pc_png/live_line.png") top left/ cover;
        position: absolute;
        width: 13.988%;
        aspect-ratio: .946/1;
        left: 39.6875%;
        top: 48.788%;
        z-index: 10;
    }

    &__relax {
        background: url("../images/illust/top/pc_png/relax_line.png") top left/ cover;
        position: absolute;
        width: 9.777%;
        aspect-ratio: .625/1;
        right: 25.625%;
        bottom: 19.9%;
        transition: .3s all;
        z-index: 10;

        &:hover {
            background: url("../images/illust/top/pc_png/relax_color.png") top left/ cover;
        }

        &:hover+.big__relax-bubble {
            opacity: 1;
        }

        &-bubble {
            position: absolute;
            width: 5.407%;
            aspect-ratio: .341/1;
            right: 24.479%;
            bottom: 42.5%;
            transition: .6s all;
            z-index: 11;
            opacity: 0;
        }
    }

    &__calendar {
        position: absolute;
        background: url("../images/illust/top/pc_png/calendar_line.png") top left/ cover;
        width: 4.708%;
        aspect-ratio: .985/1;
        top: 39.83%;
        right: 29.583%;
    }

    &__paper {
        position: absolute;
        background: url("../images/illust/top/pc_png/paper_line.png") top left/ cover;
        width: 7.291%;
        aspect-ratio: 1.478/1;
        bottom: 4.479%;
        right: 20.104%;
    }

    &__book {
        position: absolute;
        background: url("../images/illust/top/pc_png/book_line.png") top left/ cover;
        width: 12.767%;
        aspect-ratio: 2.195/1;
        bottom: 5.947%;
        right: 28.734%;
    }

    &__select {
        display: none;

        @include sp {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: nowrap;
        }

        &-menu {
            width: 25px;
            margin: 10px 18px 0;

            &-center {
                width: 25px;
                margin: 24px 18px 0;
            }
        }
    }

    &__images {
        display: none;

        @include sp {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-wrap: nowrap;
            position: relative;
            overflow: hidden;
            margin-top: 36px;
        }

        &-photo {
            width: 61%;
            margin: 0 12px;

            &-l {
                width: 61%;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translate(-80%, -50%);
            }

            &-r {
                width: 61%;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(80%, -50%);
            }
        }

        &-arrowL {
            width: 6.5%;
            margin: 0 12px 21px;
        }

        &-arrowR {
            width: 6.5%;
            margin: 0 12px 21px;
        }
    }
}

.qa {

    padding: (192/16)+em 0;

    &__inner {
        @include inner;
    }

    &__title {
        font-size: (32/16)+em;
        border-bottom: 1px dashed #000;
        display: inline-block;
        font-weight: 500;
        margin-bottom: (24/16)+em;
        padding-bottom: (12/16)+em;
    }

    &__subtitle {
        font-weight: 500;
        margin-bottom: (70/16)+em;
    }

    &__q {
        margin-bottom: (32/16)+em;
        display: flex;
        justify-content: left;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    &__a {
        margin-bottom: (32/16)+em;
        display: flex;
        justify-content: left;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    &__link {
        display: inline-block;
        font-size: (20/16)+rem;
        margin-top: (80/20)+em;
        padding: (22/20)+em (32/20)+em;
        border: 1px solid;
        border-radius: (74/20)+em;
        width: fit-content;
        font-size: (20/16)+rem;
        background-color: #fff;
    }
}

.q {

    &__image {
        width: 7.849%;
    }

    &__text {
        margin-left: (52/20)+em;
        width: 88.148%;
        padding: (32/20)+em;
        font-size: (20/16)+rem;
        background-color: $accent-color;
        border-radius: (4/20)+em;
        text-align: left;
        position: relative;

        &::before {
            content: "";
            width: (84/20)+em;
            height: (28/20)+em;
            border-top: (14/20)+em transparent solid;
            border-right: (42/20)+em transparent solid;
            border-bottom: (14/20)+em $accent-color solid;
            border-left: (42/20)+em transparent solid;
            position: absolute;
            bottom: (16/20)+em;
            left: 0;
            transform: translateX(-50%);
        }
    }
}

.a {

    &__image {
        width: 7.849%;
    }

    &__text {
        margin-right: (52/20)+em;
        width: 88.148%;
        padding: (32/20)+em;
        font-size: (20/16)+rem;
        background-color: $bg-color;
        border-radius: (4/20)+em;
        text-align: left;
        position: relative;

        &::after {
            content: "";
            width: (84/20)+em;
            height: (28/20)+em;
            border-top: (14/20)+em transparent solid;
            border-right: (42/20)+em transparent solid;
            border-bottom: (14/20)+em $bg-color solid;
            border-left: (42/20)+em transparent solid;
            position: absolute;
            bottom: (16/20)+em;
            right: 0;
            transform: translateX(50%);
        }
    }
}

.access {

    padding: (192/16)+em 0;
    background: url("../images/access_bg.png") no-repeat center center / cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: $main-color;

    @include sp {
        padding: (64/16)+em 0;
    }

    @include title ($main-color);

    &::before {
        content: '';
        background: inherit;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
    }

    &__inner {
        @include inner;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;

        @include sp {
            flex-direction: column-reverse;
        }
    }

    &__block {
        width: 47.645%;
        text-align: left;

        @include sp {
            width: 100%;
        }
    }

    &__address {
        padding-bottom: (32/16)+em;
        border-bottom: $main-color 1px solid;

        &-title {
            font-size: (20/16)+rem;
        }
    }

    &__transport {
        padding: (32/16)+em 0;
        border-bottom: $main-color 1px solid;

        &-title {
            font-size: (20/16)+rem;
        }
    }

    &__parking {
        padding-top: (32/16)+em;

        &-title {
            font-size: (20/16)+rem;
        }

        &-link {
            text-decoration: underline;
        }
    }

    &__map {
        width: 47.331%;
        aspect-ratio: 1/1;

        @include sp {
            width: 100%;
            margin-bottom: (36/18)+em;
        }
    }
}

.contact {
    background-color: $bg-color;
    padding: (192/16)+em 0;
    @include title;

    @include sp {
        padding: (64/16)+em 0;
    }

    &__inner {
        @include inner;
    }

    &__text {
        margin-bottom: (64/16)+em;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-bottom: (68/16)+em;

        @include sp {
            justify-content: left;
            flex-direction: column;
            margin-bottom: (32/16)+em;
        }
    }

    &__label {
        width: 17%;
        text-align: right;
        font-size: (20/16)+rem;

        @include sp {
            width: fit-content;
            font-size: 1rem;
            text-align: left;
            margin-bottom: 1em;
        }
    }

    &__input {
        padding: (24/16)+em (32/16)+em;
        width: 80%;
        background-color: $main-color;
        height: (64/16)+em;
        font-size: 1rem;

        @include sp {
            padding: 0 (12/16)+em;
            width: 100%;
            height: 2em;
        }
    }

    &__textarea {
        padding: (24/16)+em (32/16)+em;
        width: 80%;
        background-color: $main-color;
        height: (230/16)+em;
        font-size: 1rem;

        @include sp {
            padding: (12/16)+em;
            width: 100%;
        }
    }

    &__button {
        display: inline-block;
        font-size: (20/16)+rem;
        padding: (22/20)+em (32/20)+em;
        border: 1px solid #707070;
        border-radius: (74/20)+em;
        width: fit-content;
        font-size: (20/16)+rem;
        background-color: #fff;

        @include sp {
            font-size: (12/16)+rem;
            padding: 1em (18/12)+em;
            margin: 3em auto (64/12)+em;
        }
    }
}

.slideshow {

    &__image {
        margin-bottom: (64/16)+em;
        width: 100%;
        height: (425/16)+em;
        background: url("../images/slideshow.png") center center no-repeat;

        @include sp {
            height: (189/16)+em;
            margin-bottom: (24/16)+em;
        }
    }

    &__text {
        margin-bottom: (192/32)+em;
        font-size: (32/16)+rem;

        @include sp {
            font-size: 1rem;
        }
    }
}

//news
.news {
    background-color: $main-color;

    &__inner {
        @include inner();
    }

    @include title;

    &__text-block {
        text-align: center;
    }

    &__text {
        display: inline-block;
        font-size: 16px;
        font-weight: light;
        text-align: left;
        margin-bottom: 20px;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @include sp {
            justify-content: flex-start;
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }

    &__card {
        width: 30%;
        margin-top: 45px;

        @include sp {
            margin: auto;
            width: 86.592%;
            overflow: hidden;
        }

        &-hidden {
            width: 30%;
            margin-top: 45px;

            @include sp {
                display: none;
            }
        }
    }

    &__card-text {
        margin-top: 30px;
        text-align: left;

        @include sp {
            margin-top: 24px;
        }
    }

    &__button {
        display: inline-block;
        font-size: (20/16)+rem;
        padding: (22/20)+em (32/20)+em;
        border: 1px solid #707070;
        border-radius: (74/20)+em;
        width: fit-content;
        background-color: #fff;
        margin: 60px 0 190px;

        @include sp {
            font-size: (12/16)+rem;
            padding: 1em (18/12)+em;
            margin: 3em auto (64/12)+em;
        }
    }
}

//footer
footer {
    background-color: $bg-color2;
    padding: 95px 0 60px;

    @include sp {
        padding: 64px 12.077%;
    }
}

.foot {

    &__inner {
        @include inner();

        @include sp {
            width: 100%;
        }
    }

    &__logo {
        width: 120px;
        aspect-ratio: 12/11;

        @include sp {
            width: 80px;
        }
    }

    &__nav {
        margin: 0 auto;
        margin-top: 65px;
        width: 60%;
        border-top: 1px dashed #54777D;
        border-bottom: 1px dashed #54777D;

        @include sp {
            margin-top: 40px;
            width: 100%;
        }
    }

    &__ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 30px 0;

        @include sp {
            flex-direction: column;
            align-items: center;
            padding: 32px 0;
        }
    }

    &__li {
        margin: 0 25px;

        @include sp {
            margin: 12px 0;
        }
    }

    &__sns-ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 50px 0 65px;

        @include sp {
            margin: 44px 0 40px;
        }
    }

    &__sns-li {
        margin: 0 15px;
    }

    &__sns-img {
        width: 40px;
        aspect-ratio: 1/1;

        @include sp {
            width: 28px;
        }
    }
}

//about_qa
.firstview-about {
    background: url("../images/firstview.png") center center /cover;
    height: 60vh;
    width: 100%;
    position: relative;

    &__title {
        color: $main-color;
        font-size: (48/16)+rem;
        font-weight: 500;
        position: absolute;
        top: 50%;
        bottom: 30%;
        right: 0;
        left: 0;
        width: 20%;
        height: 20%;
        margin: auto;
    }
}

.contact-qa {
    background-color: $bg-color;

    padding: (192/16)+em 0;
    @include title;

    &__inner {
        @include inner;
    }

    &__text {
        margin-bottom: (64/16)+em;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-bottom: (68/16)+em;
    }

    &__label {
        width: 17%;
        text-align: right;
        font-size: (20/16)+rem;
    }

    &__input {
        padding: (24/16)+em (32/16)+em;
        width: 80%;
        background-color: $main-color;
        height: (64/16)+em;
        font-size: 1rem;
    }

    &__textarea {
        padding: (24/16)+em (32/16)+em;
        width: 80%;
        background-color: $main-color;
        height: (230/16)+em;
        font-size: 1rem;
    }

    &__button {
        display: inline-block;
        font-size: (20/16)+rem;
        padding: (22/20)+em (32/20)+em;
        border: 1px solid;
        border-radius: (74/20)+em;
        width: fit-content;
        font-size: (20/16)+rem;
        background-color: #fff;
    }
}

//about_vision
.introduction {
    padding: (205/16)+em 0 (192/16)+em;

    &__inner {
        @include inner();
    }

    &__title {
        font-size: (40/16)+rem;
        margin-bottom: (20/16)+em;
        padding-bottom: (10/16)+em;
        border-bottom: 1px dashed #707070;
    }

    &__text {
        text-align: left;
        letter-spacing: .02em;
        line-height: 2.25;
    }

    &__text2 {
        margin-top: (50/16)+em;
        text-align: right;
        letter-spacing: .2em;
        line-height: 2.25;
    }
}

.explanation {
    background-color: $bg-color;
    padding: (192/16)+em 0;

    &__inner {
        @include inner();
    }

    &__title-bottom {
        margin-bottom: (64/16)+em;
    }

    &__logo {
        width: (400/16)+em;
        height: (400/16)+em;
    }

    &__text {
        margin: (65/16)+em 0 (107/16)+em;
        line-height: 3.125;
    }

    &__card {
        background-color: $main-color;
        padding: 5%;
    }

    &__card-flex {
        display: flex;
        align-items: center;
        margin-bottom: (95/16)+em;
    }

    &__card-group {
        display: flex;
        align-items: center;
        margin-bottom: (48/16)+em;
    }

    &__card-group:last-child {
        margin-bottom: 0;
    }

    &__card-img {
        width: (120/16)+em;
        height: (120/16)+em;
        margin-right: (48/16)+em;
    }

    &__card-img1 {
        width: (320/16)+em;
        height: (185/16)+em;
        margin-right: (100/16)+em;
    }

    &__card-text-group {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    &__card-h4 {
        line-height: 2.5;
    }

    &__card-text {
        margin-bottom: (40/16)+em;
        text-align: left;
        line-height: 2.25;
    }

    &__card-text:last-child {
        margin-bottom: 0;
        letter-spacing: 0.02em;
    }
}

.people {
    padding: (192/16)+em 0;

    &__inner {
        @include inner();
    }

    &__title {
        margin-bottom: (64/16)+em;
    }

    &__text-group {
        margin-bottom: (96/16)+em;
    }

    &__text {
        text-align: left;
        letter-spacing: 0.02em;
        line-height: 1.75;
        margin-bottom: (40/16)+em;
    }

    &__text:last-child {
        margin-bottom: 0;
    }

    &__card-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;
    }

    &__card-img {
        width: (100/16)+em;
        height: (105/16)+em;
        position: absolute;
        top: 80px;
        left: -5%;
    }

    &__card-img2 {
        width: (100/16)+em;
        height: (105/16)+em;
        position: absolute;
        top: 80px;
        left: 30%;
    }

    &__card-img3 {
        width: (100/16)+em;
        height: (105/16)+em;
        position: absolute;
        top: 80px;
        left: 65%;
    }

    &__card {
        width: 30%;
    }

    &__self {
        display: flex;
        flex-direction: column;
        width: auto;
        border: 4px solid $accent-color;
        border-radius: 10px;
        height: (161/16)+em;
        padding: 5%;
        margin-bottom: (47.5/16)+em;
    }

    &__card-name {
        font-size: (20/16)+rem;
        margin-top: 1em;
    }

    &__card-text-group {
        background-color: $bg-color;
        border-radius: 5px;
        padding: 10% 5%;
    }

    &__card-text {
        text-align: left;
        letter-spacing: 0.02em;
        line-height: 2.25;
        margin-bottom: (40/16)+em;
    }

    &__card-text:last-child {
        margin-bottom: 0;
    }

}

.story {
    background-color: $bg-color;
    padding: (192/16)+em 0 (307/16)+em;

    &__inner {
        @include inner();
    }

    &__text-group {
        text-align: center;
        margin: (64/16)+em 0;
    }

    &__text {
        display: inline-block;
        text-align: left;
        margin-bottom: (40/16)+em;
    }

    &__text:last-child {
        margin-bottom: 0;
    }

    &__card-img {
        width: (300/16)+em;
        height: (286/16)+em;
    }

    &__card {
        background-color: $main-color;
        padding: 5% 10%;
        margin-bottom: (64/16)+em;
    }

    &__card:last-child {
        margin-bottom: 0;
    }

    &__card-title {
        font-size: (24/16)+rem;
        line-height: 1.167;
    }

    &__card-subtitle {
        margin: (32/16)+em 0 (64/16)+em;
    }

    &__card-flex {
        display: flex;
        justify-content: space-between;
        vertical-align: top;
    }

    &__card-flex2 {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: (93/16)+em;
    }

    &__card-text {
        letter-spacing: 0.02em;
        line-height: 2.25;
        margin-bottom: (40/16)+em;
    }

    &__card-text:last-child {
        margin-bottom: 0;
    }

    &__foot {
        margin-top: (230/16)+em;
        position: relative;
    }

    &__foot-text {
        margin-bottom: (40/16)+em;
    }

    &__foot-text:last-child {
        margin-bottom: 0;
    }

    &__foot-img {
        width: (97/16)+em;
        height: (193/16)+em;
        position: absolute;
        top: 10px;
        right: 0;
        left: 75%;
        bottom: 0;
    }
}

.jump {
    padding: (192/16)+em 0;

    &__inner {
        @include inner();
    }

    &__flex {
        display: flex;
        justify-content: space-around;
    }

    &__img {
        width: (100/16)+em;
        height: (164/16)+em;
        margin-bottom: (33/16)+em;
    }

    &__group {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__link {
        display: inline-block;
        font-size: (20/16)+rem;
        padding: (22/20)+em (32/20)+em;
        border: 1px solid;
        border-radius: (74/20)+em;
        width: fit-content;
        font-size: (20/16)+rem;
    }
}

/* book */
.nothing {
    margin: (192/16)+em 0;

    &__inner {
        @include inner();
    }

    &__flex {
        display: flex;
        align-items: center;
    }

    &__img {
        width: (576/16)+em;
        height: (330/16)+em;
        margin-right: (69/16)+em;
    }

    &__text-group {
        text-align: left;
    }

    &__text {
        line-height: 2.25;
        letter-spacing: 0.02em;
        margin-bottom: (40/16)+em;
    }

    &__text:last-child {
        margin-bottom: 0;
    }
}

.Borrow {
    background: url("../images/book_bg.png") center center /cover;
    height: 80vh;
    width: 100%;
    color: #fff;

    &__inner {
        @include inner();
    }

    &__title {
        padding-top: (80/16)+em;
    }

    &__title-bottom {
        margin-bottom: (100/16)+em;
    }

    &__text-group {
        display: inline-block;
    }

    &__text {
        display: block;
        text-align: left;
        line-height: 2.25;
        letter-spacing: 0.02em;
    }
}

.put {
    &__inner {
        @include inner();
    }

    &__title {
        margin-top: (130.6/16)+em;
    }

    &__title-bottom {
        margin-bottom: (100/16)+em;
    }

    &__text-group {
        display: inline-block;
        margin-bottom: (96/16)+em;
    }

    &__text {
        display: block;
        text-align: left;
        line-height: 2.25;
        letter-spacing: 0.02em;
    }
}

.what {


    &__inner {
        @include inner();
        background-color: $bg-color;
        padding: (100/16)+em;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: (100/16)+em;
    }

    &__flex {
        display: flex;
        align-items: center;

    }

    &__img {
        width: (300/16)+em;
        height: (243/16)+em;
        margin-right: (74/16)+em;
    }

    &__text-group {
        display: inline-block;
    }

    &__text {
        display: block;
        text-align: left;
        line-height: 2.25;
        letter-spacing: 0.02em;
        margin-bottom: (40/16)+em;
    }

    &__text:last-child {
        margin-bottom: 0;
    }
}

.prelusion {
    &__inner {
        @include inner();
    }

    &__title {
        display: inline-block;
        border-bottom: 1px dashed #000;
        margin: (128/16)+em 0 (75/16)+em;
        padding-bottom: (10/16)+em;
    }

    &__flex {
        display: flex;
        justify-content: center;
    }

    &__img {
        width: (496/16)+em;
        height: (310/16)+em;
        margin-right: (100/16)+em;
    }

    &__img:last-child {
        margin-right: 0;
    }

    &__text-group {
        display: inline-block;
    }

    &__text {
        text-align: left;
        line-height: 2.25;
        letter-spacing: 0.02em;
        margin: (64/16)+em;
    }
}

.owner {
    &__inner {
        @include inner();
    }

    &__title {
        display: inline-block;
        border-bottom: 1px dashed #000;
        padding-bottom: (10/16)+em;
        margin-bottom: (76/16)+em;
    }

    &__img {
        width: 100%;
    }
}

.price {
    &__inner {
        @include inner();
    }

    &__title {
        display: inline-block;
        border-bottom: 1px dashed #000;
        padding-bottom: (10/16)+em;
        margin-top: (170/16)+em;
        margin-bottom: (75/16)+em;
    }

    &__flex {
        display: flex;
        justify-content: space-around;
    }

    &__card {
        background-color: $bg-color;
        line-height: 2.25;
        letter-spacing: 0.02em;
        width: 50%;
        margin-right: (80/16)+em;
    }

    &__card:last-child {
        margin-right: 0;
    }

    &__card-text-group {
        display: inline-block;
        padding-top: (64/16)+em;
        padding: 0 (24/16)+em;
    }

    &__card-money {
        font-size: 1.5rem;
    }

    &__card-time {
        font-size: 1.25rem;
        margin-bottom: (19/16)+em;
    }

    &__card-time2 {
        font-size: 1.25rem;
        margin-bottom: (26/16)+em;
    }

    &__card-text {
        text-align: left;
    }
}